body, #mainWrapper {
	height: 70%;
	background-color:rgb(245, 245, 245);
}

body, .form-control{
	font-size:12px!important;
}

.floatRight{
	float:right;
	margin-right: 18px;
}

.has-error{
	color:red;
}

.formcontainer{
	background-color: #DAE8E8;
	padding: 20px;
}

.tablecontainer{
	padding-left: 20px;
}

.generic-container {
  width:80%;
  margin-left: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #EAE7E7;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 30px black;
}

.custom-width {
    width: 80px !important;
}

.datepickerdemo md-content {
	float: left;
}

.datepickerdemo md-content md-datepicker {
	margin-right: 0px;
}

.datepickerdemo .validation-messages {
	font-size: 11px;
	color: darkred;
	margin: 10px 0 0 25px;
}

.md-datepicker-input-container {
	border-bottom-style: none;
}

.firstName.ng-valid {
	background-color: lightgreen;
}

.firstName.ng-dirty.ng-invalid-required {
	background-color: red;
}

.firstName.ng-dirty.ng-invalid-minlength {
	background-color: yellow;
}

.lastName.ng-valid {
	background-color: lightgreen;
}

.lastName.ng-dirty.ng-invalid-required {
	background-color: red;
}

.lastName.ng-dirty.ng-invalid-minlength {
	background-color: yellow;
}

