<!DOCTYPE html>
<html>
<head>
<title>Employee Manager</title>

<link rel="stylesheet"
	href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/app.css">
<link rel="stylesheet"
	href="http://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
<script
	src="http://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.js"></script>

</head>
<body ng-app="myApp" class="ng-cloak">
	<div class="generic-container"
		ng-controller="EmployeeController as ctrl">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="lead">Employee Registration Form </span>
			</div>
			<div class="formcontainer">
				<form ng-submit="ctrl.submit()" name="myForm"
					class="form-horizontal">
					<input type="hidden" ng-model="ctrl.employee.empNo" />
					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="file">First
								name</label>
							<div class="col-md-7">
								<input type="text" ng-model="ctrl.employee.firstName"
									name="firstName" class="employeename form-control input-sm"
									placeholder="Enter your first name" required ng-minlength="3" />
								<div class="has-error" ng-show="myForm.$dirty">
									<span ng-show="myForm.firstName.$error.required">This is
										a required field</span> <span
										ng-show="myForm.firstName.$error.minlength">Minimum
										length required is 3</span> <span ng-show="myForm.firstName.$invalid">This
										field is invalid </span>
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="file">Last
								name</label>
							<div class="col-md-7">
								<input type="text" ng-model="ctrl.employee.lastName"
									name="lastName" class="employeename form-control input-sm"
									placeholder="Enter your last name" required ng-minlength="3" />
								<div class="has-error" ng-show="myForm.$dirty">
									<span ng-show="myForm.lastName.$error.required">This is
										a required field</span> <span
										ng-show="myForm.lastName.$error.minlength">Minimum
										length required is 3</span> <span ng-show="myForm.lastName.$invalid">This
										field is invalid </span>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="file">Birth
								Date </label>
							<div class="col-md-7 datepickerdemo">
								<md-content> <md-datepicker ng-model="ctrl.employee.birthDate"
									md-placeholder="Enter date"></md-datepicker> </md-content>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="file">Hire
								Date </label>
							<div class="col-md-7 datepickerdemo">
								<md-content> <md-datepicker ng-model="ctrl.employee.hireDate"
									md-placeholder="Enter date"></md-datepicker> </md-content>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="file">Gender:
							</label>
							<div class="col-md-7">
								<md-radio-group ng-model="ctrl.employee.gender"> <md-radio-button
									value="M" class="md-primary">Man</md-radio-button> <md-radio-button
									value="F"> Woman </md-radio-button> </md-radio-group>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="form-actions floatRight">
							<input type="submit"
								value="{{!ctrl.employee.empNo ? 'Add' : 'Update'}}"
								class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
							<button type="button" ng-click="ctrl.reset()"
								class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Reset
								Form</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="lead">List of Employees </span>
			</div>
			<div class="tablecontainer table-responsive">
			
			<md-toolbar class="md-table-toolbar md-default">
			  <div class="md-toolbar-tools">
			    <form flex>
			      <input type="text" ng-model="ctrl.filter" placeholder="search" class="form-control input-sm">
			    </form>
			    <button type="button" ng-click="ctrl.search()" class="btn btn-warning btn-sm glyphicon glyphicon-search">
				</button>
			  </div>
			</md-toolbar>
			
			<md-table-container>
				<table md-table
					md-progress="promise">
					<thead md-head>
						<tr md-row>
							<th md-column><span>ID</span></th>
							<th md-column><span>First Name</span></th>
							<th md-column><span>Last Name</span></th>
							<th md-column><span>Birth Date</span></th>
							<th md-column><span>Hire Date</span></th>
							<th md-column><span>Gender</span></th>
							<th md-column></th>
						</tr>
					</thead>
					<tbody md-body>
						<tr md-row
							ng-repeat="u in ctrl.employees">
							<td md-cell><span ng-bind="u.empNo"></span></td>
							<td md-cell><span ng-bind="u.firstName"></span></td>
							<td md-cell><span ng-bind="u.lastName"></span></td>
							<td md-cell><span ng-bind="u.birthDate"></span></td>
							<td md-cell><span ng-bind="u.hireDate"></span></td>
							<td md-cell><span ng-bind="u.gender"></span></td>
							<td md-cell>
								<button type="button" ng-click="ctrl.edit(u.empNo)"
									class="btn btn-success custom-width">Edit</button>
								<button type="button" ng-click="ctrl.remove(u.empNo)"
									class="btn btn-danger custom-width">Remove</button>
							</td>
						</tr>
					</tbody>
				</table>
			</md-table-container> 
			<md-table-pagination 
				md-limit="ctrl.pageable.size" 
				md-page="ctrl.pageable.page"
				md-limit-options="ctrl.limitOptions" 
				md-total="{{ctrl.totalElements}}"
				md-page-select="true"
				md-on-paginate="ctrl.onPaginate"
				> 
			</md-table-pagination> 	
			</div>
		</div>
	</div>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/service/employee_service.js"></script>
	<script type="text/javascript"
		src="js/controller/employee_controller.js"></script>
		<script type="text/javascript" src="js/helper/moment.js"></script>
</body>
</html>